# Dependencies
node_modules/
api/node_modules/
web/node_modules/

# Env (secretos)
.env
.env.local
.env.*.local

# Build
web/dist/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
